build/
doxygen/
.clang_complete
compile_commands.json
.ccls
.ccls-cache/

*.user
*.kdev4
*.cmake

# From https://github.com/github/gitignore/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
