build/
.color_coded
.ycm_extra_conf.py
.clang_complete
compile_commands.json
conan_ycm_flags.json
.cquery

*.user
*.kdev4
*.cmake

# From https://github.com/github/gitignore/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
